/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 3 feb 2024, 10:38:16
    Author     : sof
*/

body{
    box-sizing: border-box;
    background-color: bisque;
    margin: 0;
    font-family: sans-serif;
    padding: 80px 20px 0;

}

article{
    box-sizing: border-box;
    background-color: orange;
    
    
}
footer{
   position: fixed;
   background-color: brown;
   color: white;
    left: 0;
    bottom: 0;
    right: 0;
    height: 20px;
}

.encabezado{
   position: fixed;
   background-color: brown;
    top: 0;
    left: 0;
    height: 90px;
    width: 100%;
 
   
}
.navegacion{
   display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
    
}
section{
   position: fixed;
   overflow-y: scroll;
 
   background-color: bisque;
   top: 90px;
    left: 20%;
    bottom: 20px;
    right: 0;
}
.nav-link{
  color: white;  
  text-decoration: none;
}
.logo{
     font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 90px;
    
}
.nav-menu{
     display: flex;
    font-size: 18px;
    line-height: 90px;
    list-style: none;
}
.nav-menu-item{
    margin:0 10px;
    
    
}
.nav-menu-link{
     padding: 8px 12px;
    border-radius: 6px;
}
aside{
   position: fixed;
   background-color: red;
    top: 90px;
    left: 0;
    bottom: 20px;
    width: 20%;
}